<div class="backlog" style="position: relative;">
  <div class="header">
    <div class="label">Users</div>
    
  </div>
  <ul class="stories">
    <% @project.members.each do |member| %>
    <li class="model member story" id="memeber_<%=member.id-%>">
      <div class="id">
        <div class="t"><%= link_to(member.name) %></div>
        <div class="v"><%= id_or_empty(member) %></div>
      </div>
      <div class='subject'>
        <%= member.name %>
      </div>
    </li>
    <% end %>
    
  </ul>
</div>
